<!doctype html>
<html>
<head>
    <title>HTML5 Input Color Picker </title>
    <style>
        body, html{
            background:#911abc ;
            padding:0;
            margin:0;
            height:100%;
            width:100%;
        }
        /*body{*/
        /*    background-image:url("../../static/RGB_LED.png");*/
        /*    background-position:center center;*/
        /*    background-repeat:no-repeat;*/
        /*}*/

        #singleColorControls{
            height:70px;
            width:100%;
            padding:20px;
        }
        #moodControls{
            height:70px;
            width:100%;
            padding:20px;
        }
    </style>
    <script>
        var colorChange;
        var color = JSON.parse('{{ data | tojson | safe}}');
        var initialColor = color.hexa;

        window.onload = function(){
            document.body.style.backgroundColor = initialColor;
            document.getElementById('HexValue').innerHTML = initialColor;
        };


        window.addEventListener("load", changemycolor);

        function changemycolor() {
        colorChange = document.querySelector("#colorChange");
        colorChange.value = initialColor;
        colorChange.addEventListener("input", update);
        }

        function update(event) {
        document.body.style.backgroundColor = event.target.value;
        document.getElementById('HexValue').innerHTML = event.target.value;
        }

    </script>
    <script>
    // Create WebSocket connection.
    const socket = new WebSocket('wss://hal9000-color-picker-websockserver.glitch.me');

    // Connection opened
    socket.addEventListener('open', function (event) {
        console.log('Connected to the WS Server!')
    });

    // Connection closed
    socket.addEventListener('close', function (event) {
        console.log('Disconnected from the WS Server!')
    });

    // Listen for messages
    socket.addEventListener('message', function (event) {
        console.log('Message from server ', event.data);
    });

    // Send a msg to the websocket
    const sendMsg = () => {
        const data_to_send = { user: '{{session.username}}', device_tag: '{{ device.tag }}', color: colorChange.value };
        const data_in_json = JSON.stringify(data_to_send);
        console.log(data_in_json)
        socket.send(data_in_json);
    }
</script>
</head>

<body>
    <div id="singleColorControls" style="background: rgba(0,0,0,0.3); margin: auto; width: 60%; height: 55%;">
        <div>
            <!--  HEADER -->
            <h1 style="margin-top: 0px;"> Select STEADY COLOR</h1>
            <form method="POST">
                <!--  SPEED SLIDER  -->
                <p style="margin-bottom: 0px; color: cornsilk; " id="speed_label" > Change Speed: </p>
                <input  style="margin-bottom: 5px;" type="range" min="1" max="100" value="50" class="slider" id="speed" oninput="speed_slider()" name="speed">

                <!--  BRIGHTNESS SLIDER  -->
                <p style="margin-bottom: 0px; color: cornsilk; " id="brightness_label"> Brightness:</p>
                <input style="margin-bottom: 5px;"  type="range" min="1" max="100" value="50" class="slider" id="brightness" oninput="brightness_slider()" name="brightness">

                <!--  RADIO BUTTONS  -->
                <div style="background: rgba(0,0,0,0.3); border-radius: 15px; color:cornsilk" >
                    <div style="margin: 5px">
                        <div class="row">
                            <div style="float: left; width: 33.33%;">
                                <input style="margin-left: 50%" type="radio" id="loop" name="drone" value="steady" checked>
                                <label for="loop">Steady</label>
                            </div>
                            <div style="float: left; width: 33.33%;">
                                <input style="margin-left: 50%" type="radio" id="boomerang" name="drone" value="dimming">
                                <label for="boomerang">Dimming</label>
                            </div>
                            <div style="float: left; width: 33.33%;">
                                <input style="margin-left: 50%" type="radio" id="repeat" name="drone" value="sparks">
                                <label for="repeat">Sparks</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  COLOR PICKER  -->
                <input style="margin-bottom: 5px;" name="colorChange" type="color" value=colorChange.value id="colorChange">

                <!--  SUBMIT BUTTON  -->
                <p style="margin-bottom: 5px; float: right;" ><input type="submit" class="btn submit_btn_custom" value="Submit"></p>

                <!--  HIDDEN COLOR LIST  -->
                <input style="margin-bottom: 5px;" type="hidden" name="colorList" id="colorList">
            </form>
        </div>
    </div>
    <div id="moodControls" style="background: rgba(0,0,0,0.3); margin: auto; margin-top: 10%;  width: 60%; height: 55%;">
        <div >
            <!--  HEADER -->
            <h1 style="margin-top: 0px;"> Select Mood</h1>
            <form method="POST">
                <label style="color: cornsilk;" for="moods">Choose Mood:</label>
                <select name="moods" id="moods" class="custom-select">
                    {% for mood in moodList %}
                    <option value={{mood.name}}>{{mood.name}}</option>
                    {% endfor %}
                </select>
                 <p style="margin-left: 5%; float: right;" ><input type="submit" onclick="sendMood()" class="btn submit_btn_custom" value="Submit"></p>

            </form>
        </div>
    </div>
</body>

</html>

