<!doctype html>
<html>
<head>
    <title>HTML5 Input Color Picker</title>
    <style>
        body, html{
            background:#911abc ;
            padding:0;
            margin:0;
            height:100%;
            width:100%;
        }
        body{
            background-image:url("../../static/RGB_LED.png");
            background-position:center center;
            background-repeat:no-repeat;
        }
        #colorControls{
            height:70px;
            width:100%;
            padding:20px;
        }
    </style>

    <script>
        var colorChange;
        var color = JSON.parse('{{ data | tojson | safe}}');
        var initialColor = color.hexa;

        window.onload = function(){
            document.body.style.backgroundColor = initialColor;
            document.getElementById('HexValue').innerHTML = initialColor;
        };


        window.addEventListener("load", changemycolor);

        function changemycolor() {
        colorChange = document.querySelector("#colorChange");
        colorChange.value = initialColor;
        colorChange.addEventListener("input", update);
        }

        function update(event) {
        document.body.style.backgroundColor = event.target.value;
        document.getElementById('HexValue').innerHTML = event.target.value;
        }

    </script>
    <script>
    // Create WebSocket connection.
    const socket = new WebSocket('wss://hal9000-color-picker-websockserver.glitch.me');

    // Connection opened
    socket.addEventListener('open', function (event) {
        console.log('Connected to the WS Server!')
    });

    // Connection closed
    socket.addEventListener('close', function (event) {
        console.log('Disconnected from the WS Server!')
    });

    // Listen for messages
    socket.addEventListener('message', function (event) {
        console.log('Message from server ', event.data);
    });

    // Send a msg to the websocket
    const sendMsg = () => {
        const data_to_send = { user: "John", device_tag: "2137", color: colorChange.value };
        const data_in_json = JSON.stringify(data_to_send);
        console.log(data_in_json)
        socket.send(data_in_json);
    }
</script>
</head>

<body>

    <div id="colorControls">
        <label for="colorChange">Pick Your Color</label>
        <form method="POST">
            <input name="colorChange" type="color" value=colorChange.value id="colorChange">
            <p style="margin-bottom: 0px" ><input type="submit" onclick="sendMsg()" class="btn submit_btn_custom" value="Submit"></p>

        </form>

        <p style="margin-left: 500px">Hex Value:<span id="HexValue" >to set</span></p>

    </div>

</body>
</html>

