    <div class="registration_block" >
      <div class="registration_center">
      <h1>Add new device</h1>
      {% from "includes/_formhelpers.html" import render_field %}
          <form method="POST" action="">
            <div class="form-group">
              {{render_field(form.name, class_="form-control")}}
            </div>
            <p style="margin-bottom: 0px" ><input type="submit" class="btn submit_btn_custom" value="Submit"></p>
          </form>
        </div>
     </div>

        <div id="dot_list">
            <span class="dot" style=" height: 25px; width: 25px; background-color: #bbb; border-radius: 50%; display: inline-block;"></span>
            <span class="dot" style=" height: 25px; width: 25px; background-color: #bbb; border-radius: 50%; display: inline-block;"></span>
            <span class="dot" style=" height: 25px; width: 25px; background-color: #bbb; border-radius: 50%; display: inline-block;"></span>
        </div>

        <script>

        function stringInject(str, data) {
           if (typeof str === 'string' && (data instanceof Array)) {

        return str.replace(/({\d})/g, function(i) {
            return data[i.replace(/{/, '').replace(/}/, '')];
        });
    } else if (typeof str === 'string' && (data instanceof Object)) {

        if (Object.keys(data).length === 0) {
            return str;
        }

        for (let key in data) {
            return str.replace(/({([^}]+)})/g, function(i) {
                let key = i.replace(/{/, '').replace(/}/, '');
                if (!data[key]) {
                    return i;
                }

                return data[key];
            });
        }
    } else if (typeof str === 'string' && data instanceof Array === false || typeof str === 'string' && data instanceof Object === false) {

            return str;
    } else {

        return false;
    }
        }

        var para = document.createElement("span");
        var color = "#32a852";
        para.style=stringInject("height: 25px; width: 25px; background-color: {color}; border-radius: 50%; display: inline-block;", { color: color});

        const element = document.getElementById("dot_list");
        element.appendChild(para);


    </script>