{% extends 'layout.html' %}
{% block body %}
<h1>Dashboard <small> Welcome {{session.username}}</small></h1>
<div>
    <hr>
  <h3>Moods <a class="btn btn-success pull-right" href="/add_mood"> Add</a></h3>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>  </th>
      <th></th>
      <th></th>
    </tr>
    {% for device in devicelist %}
      <tr>
        <td>{{device.id}}</td>
        <td>{{device.name}}</td>
        <td>{{device.tag}}</td>
        <td><a href="edit_device/{{device.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_device', id=device.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <hr>
</div>

<div>
  <hr>
  <h3>Devices <a class="btn btn-success pull-right" href="/add_device"> Add</a></h3>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Tag</th>
      <th>Registration Date</th>
      <th style="text-align: center">Connected</th>

      <th></th>
      <th></th>
      <th></th>
      <th></th>

    </tr>
    {% for device in devicelist %}
      <tr>
        <td>{{device.id}} </td>
        <td>{{device.name}}</td>
        <td>{{device.tag}}</td>
        <td>{{device.registration_date}}</td>
        <td style="text-align: center">Yes</td>
        <td><a href="color/{{device.id}}" class="btn btn-info pull-right">Color</a></td>
        <td><a href="edit_device/{{device.id}}" class="btn submit_btn_custom pull-right">Connect</a></td>
        <td class="text-center"><a href="edit_device/{{device.id}}" class="btn btn-default ">Edit</a></td>
        <td>
          <form action="{{url_for('delete_device', id=device.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger pull-left">
          </form>
        </td>

      </tr>
    {% endfor %}
  </table>
  <hr>
</div>

{% endblock %}