<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
<head>
    <title>HTML5 Input Color Picker </title>
    <style>
        body, html{
            background:#911abc ;
            padding:0;
            margin:0;
            height:100%;
            width:100%;
        }
        /*body{*/
        /*    background-image:url("../../static/RGB_LED.png");*/
        /*    background-position:center center;*/
        /*    background-repeat:no-repeat;*/
        /*}*/

        #singleColorControls{
            height:70px;
            width:100%;
            padding:20px;
        }
        #moodControls{
            height:70px;
            width:100%;
            padding:20px;
        }
    </style>
    <script>
        var colorChange;
        var color = JSON.parse('{{ data | tojson | safe}}');
        var initialColor = color.hexa
        var moods = JSON.parse('{{ moodListJS | tojson | safe}}');
        var i = 0;


        document.body.style.backgroundColor = initialColor;
        window.addEventListener("load", changemycolor);

        function changemycolor() {
            colorChange = document.querySelector("#colorChange");
            colorChange.value = initialColor;
            colorChange.addEventListener("input", update);
        }

        function update(event) {
            document.body.style.backgroundColor = event.target.value;
            colorChange_MOOD = document.querySelector("#colorChange_MOOD");
            colorChange_MOOD.value = colorChange.value;
            i++;
            if (i==10){
                sendSingle();
                i = 0;
            }

            //sendSingle();
        }

    </script>
    <script>
    // Create WebSocket connection.
    let socket = new WebSocket('wss://hal9000-color-picker-websockserver.glitch.me');

    // Connection opened
    socket.addEventListener('open', function (event) {
        console.log('Connected to the WS Server!')
    });

    // Connection closed
    socket.addEventListener('close', function (event) {
        console.log('Disconnected from the WS Server!')
        socket = new WebSocket('wss://hal9000-color-picker-websockserver.glitch.me');
    });

    // Listen for messages
    socket.addEventListener('message', function (event) {
        console.log('Message from server ', event.data);
    });

    // Check if open
    function isOpen(ws) { return ws.readyState === ws.OPEN }

    // Send a msg to the websocket
    const sendSingle = () => {
        if (!isOpen(socket)){
            const speed = document.getElementById("speed").value;
            const brightness = document.getElementById("brightness").value;
            const loop = document.querySelector('input[name="drone"]:checked').value;
            const payload = {color: colorChange.value, brightness: brightness, speed: speed, loop:loop}
            const data_to_send = { head: 'set', user: '{{session.username}}',
                TAG: '{{ device.tag }}', type: "single", payload: payload };
            const data_in_json = JSON.stringify(data_to_send);
            socket.send(data_in_json);
        }
        else{
            socket = new WebSocket('wss://hal9000-color-picker-websockserver.glitch.me');
            console.log("reconnecting")
        }

    }

    const sendMood = () => {
        if (!isOpen(socket)) {
            const data_to_send = {
                head: 'set', user: '{{session.username}}',
                TAG: '{{ device.tag }}', type: "mood", payload: current_mood.payload
            };
            const data_in_json = JSON.stringify(data_to_send);
            socket.send(data_in_json);
        }
        else{
            socket = new WebSocket('wss://hal9000-color-picker-websockserver.glitch.me');
            console.log("reconnecting")
        }
    }

    setInterval(function(){
        const wake = { head: 'wake up'};
        console.log("wake up");
        socket.send(JSON.stringify(wake));
    },8000)

</script>
</head>

<body>
    <!-- SINGLE COLOR DIV-->
    <div id="singleColorControls" style="background: rgba(0,0,0,0.3); margin: auto; width: 60%; height: 55%;">
        <div>
            <!--  HEADER -->
            <h1 style="margin-top: 0px;"> Select STEADY COLOR</h1>
            <div>
                <!--  SPEED SLIDER  -->
                <p style="margin-bottom: 0px; color: cornsilk; " id="speed_label" > Change Speed: </p>
                <input  style="margin-bottom: 5px;" type="range" min="1" max="100" value="50" class="slider" id="speed" oninput="speed_slider()" name="speed">

                <!--  BRIGHTNESS SLIDER  -->
                <p style="margin-bottom: 0px; color: cornsilk; " id="brightness_label"> Brightness:</p>
                <input style="margin-bottom: 5px;"  type="range" min="1" max="100" value="50" class="slider" id="brightness" oninput="brightness_slider()" name="brightness">

                <!--  RADIO BUTTONS  -->
                <div style="background: rgba(0,0,0,0.3); border-radius: 15px; color:cornsilk" >
                    <div style="margin: 5px">
                        <div class="row">
                            <div style="float: left; width: 33.33%;">
                                <input style="margin-left: 50%" type="radio" id="steady" name="drone" value="steady" checked>
                                <label for="steady">Steady</label>
                            </div>
                            <div style="float: left; width: 33.33%;">
                                <input style="margin-left: 50%" type="radio" id="dimming" name="drone" value="dimming">
                                <label for="dimming">Dimming</label>
                            </div>
                            <div style="float: left; width: 33.33%;">
                                <input style="margin-left: 50%" type="radio" id="sparks" name="drone" value="sparks">
                                <label for="sparks">Sparks</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  COLOR PICKER  -->
                <input style="margin-bottom: 5px;" name="colorChange" type="color" value=colorChange.value id="colorChange">

                <!--  SUBMIT BUTTON  -->
                <p style="margin-left: 5%; float: right;" ><input type="submit" onclick="sendSingle()" class="btn submit_btn_custom" value="Submit"></p>

                <!--  HIDDEN COLOR LIST  -->
                <input style="margin-bottom: 5px;" type="hidden" name="colorList" id="colorList">
            </div>
        </div>
    </div>
    <!-- MOOD DIV-->
    <div id="moodControls" style="background: rgba(0,0,0,0.3); margin: auto; margin-top: 10%;  width: 60%; height: 55%;">
        <div >
            <!--  HEADER -->
            <h1 style="margin-top: 0px;"> Select Mood</h1>
            <div>
                <input  name="colorChange_MOOD" type="hidden" value=colorChange.value id="colorChange_MOOD">
                <label style="color: cornsilk;" for="moods">Choose Mood:</label>
                <select name="moods" id="moods" class="custom-select">
                    {% for mood in moodList %}
                    <option value={{mood.id}}>{{mood.name}}</option>
                    {% endfor %}
                </select>
                 <a id="edit_link" href="/add_mood" class="btn "><i class="fa fa-edit"></i></a>
                 <p style="margin-left: 5%; float: right;" ><input type="submit" onclick="sendMood()" class="btn submit_btn_custom" value="Submit"></p>
                <!--  DOTS DISPLAY DIV  -->
                 <div id="dot_list" style="background: rgba(0,0,0,0.3);margin-top: 2%; border-radius: 15px;"></div>
                 <label id="type_label" style="color: cornsilk;" for="moods"></label>
            </div>
        </div>
    </div>
</body>

<!--INPUT LISTENERS-->
<script>
    function stringInject(str, data) {
           if (typeof str === 'string' && (data instanceof Array)) {

        return str.replace(/({\d})/g, function(i) {
            return data[i.replace(/{/, '').replace(/}/, '')];
        });
    } else if (typeof str === 'string' && (data instanceof Object)) {

        if (Object.keys(data).length === 0) {
            return str;
        }

        for (let key in data) {
            return str.replace(/({([^}]+)})/g, function(i) {
                let key = i.replace(/{/, '').replace(/}/, '');
                if (!data[key]) {
                    return i;
                }

                return data[key];
            });
        }
    } else if (typeof str === 'string' && data instanceof Array === false || typeof str === 'string' && data instanceof Object === false) {

            return str;
    } else {

        return false;
    }
        }


    var current_mood = moods[0];
    console.log(current_mood);
    const element = document.getElementById("dot_list");
    var colorList;

    if(moods.length > 0){
        colorList = current_mood.payload.color_list.split(',');
        console.log("yeas")
        document.getElementById("edit_link").href="/edit_mood/"+String(current_mood.id);
        document.getElementById("type_label").innerHTML=current_mood.payload.loop;
        loadChildList();
    }




    function clear_element(){
        console.log(element.childElementCount)
        var len_ = element.childElementCount
        for (var i = 0; i < len_; i++){
            element.removeChild(element.lastChild)
        }
    }

    function loadChildList() {
        console.log("loading color list")
        clear_element();
        for (var i = 0; i < colorList.length; i++) {
            var para = document.createElement("span");
            para.style = stringInject("height: 25px; width: 25px; background-color: {color};" +
                " border-radius: 50%; display: inline-block; margin: 5px; margin-bottom: 0px;",
                {color: colorList[i]});
            element.appendChild(para);
        }
    }


    document.addEventListener('DOMContentLoaded', () => {
        document
          .getElementById('moods')
          .addEventListener('input', handleSelect);
      });

    window.onload = function() {speed_slider();brightness_slider()};
    function speed_slider() {
        const b = document.getElementById("speed").value;
        document.getElementById("speed_label").innerHTML = "Change Speed: "+b;
    }
    function brightness_slider() {
        const b = document.getElementById("brightness").value;
        document.getElementById("brightness_label").innerHTML = "Brightness: "+b;
    }

    function handleSelect(ev) {
        let select = ev.target;
        const moods_id = select.value
        console.log(moods_id)
        for (var i = 0; i < moods.length; i++){
             if(moods[i].id == moods_id){
                current_mood = moods[i];
                console.log(current_mood);
                colorList = current_mood.payload.color_list.split(',');
                document.getElementById("edit_link").href="/edit_mood/"+String(current_mood.id);
                document.getElementById("type_label").innerHTML=current_mood.payload.loop;
                loadChildList();
                break;
             }
         }
      }

</script>
</html>

