
{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/4e38e38ca0.js" crossorigin="anonymous"></script>
<!--HEAD-->
<h1>Dashboard <small> Welcome {{session.username}}</small></h1>

  <style>
    @media only screen and (max-device-width: 900px) {
      th{
        font-size: 150%;
        font-weight: bold;
      }
      td{
        font-size: 150%;
        font-weight: bold;
      }
    }
  </style>
<!--MOOD TABLE-->
<div>

  <hr>
    <h3 type="button" class="collapsible">Moods <i class='fas fa-angle-down rotate' style='font-size:24px'></i> <a class="btn btn-success pull-right" href="/add_mood"> Add</a></h3>
    <div class="content">
        <table class="table table-striped">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>  </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      {% for mood in moodList %}
        <tr>
          <td></td>
          <td>{{mood.name}}</td>
          <td>{{mood.name}}</td>
          <td></td>
          <td></td>
          <td><a href="edit_mood/{{mood.UUID}}" class="btn btn-default pull-right"><i class="fa fa-edit"></i></a></td>
          <td>
            <form action="{{url_for('delete_mood', id=mood.UUID)}}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" onclick="return confirm('Are you sure you want to delete This mood?')" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </form>
          </td>

        </tr>
      {% endfor %}
    </table>

    </div>
  <hr>
</div>


<!--DEVICE TABLE-->
<div>
  <hr>
    <h3 type="button" class="collapsible">Devices <i class='fas fa-angle-down rotate' style='font-size:24px'></i><a class="btn btn-success pull-right" href="/add_device"> Add</a></h3>
    <div class="content">
      <table id="deviceTable" class="table table-striped">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Tag</th>
          <th>Registration Date</th>
          <th style="text-align: center">Connected</th>

          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>

        </tr>
        {% for device in devicelist %}
          <tr>
            <th></th>
            <td>{{device.name}}</td>
            <td>{{device.tag}}</td>
            <td>{{device.registration_date}}</td>
            <td style="text-align: center"><i class="fas fa-spinner fa-spin"></i></td>
            <td><a href="color/{{device.UUID}}" class="btn submit_btn_custom pull-right" style="background: #8f00fc"><i class="fa fa-palette"></i></a></td>
            <td><a href="share/{{device.UUID}}" class="btn btn-primary pull-right">Share</a></td>
            <td><a href="controllers/{{device.UUID}}" class="btn btn-info pull-right">Controllers</a></td>
            <td><a onclick="sendReset('{{ device.tag }}')" class="btn btn-warning pull-right">Restart</a></td>
            <td><a onclick="sendReboot('{{ device.tag }}')" class="btn submit_btn_custom pull-right">Reboot</a></td>
            <td class="text-center"><a href="edit_device/{{device.UUID}}" class="btn btn-default "><i class="fa fa-edit"></i></a></td>
            <td>
              <form action="{{url_for('delete_device', id=device.UUID)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this Device?')" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </form>
            </td>

          </tr>
        {% endfor %}
      </table>
    </div>
  <hr>
</div>

<div style="position: absolute; bottom: 0; right: 0; margin-right: 5%">
  {% include 'includes/_messages.html' %}
</div>



<script>
  try {var devices = JSON.parse('{{ deviceListJS | tojson | safe}}');}
  catch{console.log("no devices");}
  console.log(devices)
  var myTable = document.getElementById('deviceTable');
  var yyy;
  var flag_ = false;
  function connection(){
     // Create WebSocket connection.
    let socket = new WebSocket('wss://hal9000-color-picker-websockserver.glitch.me');
    yyy = socket
    // Connection opened
    socket.addEventListener('open', function (event) {
        console.log('Connected to the WS Server!');
        flag_ = true;
    });

    // Connection closed
    socket.addEventListener('close', function (event) {
        console.log('Disconnected from the WS Server!');
        flag_ = false;
        connection();
    });

    // Listen for messages
    socket.addEventListener('message', function (event) {
      console.log(event.data)
        if(event.data.slice(0, 4) == "pong"){
          const obj = JSON.parse(event.data.slice(4))
          var index = search(devices, obj.tag)
          if (index != -1){
            myTable.rows[index+1].cells[4].innerHTML = obj.isActive;
          }

        }
    });
  }

  function search(arr, what) {
  for (var i = 0; i < Object.size(arr); i++){
   if(arr[i].tag == what){
     return i;
    }
  }
  return -1;
}

  Object.size = function(obj) {
    var size = 0,
      key;
    for (key in obj) {
      if (obj.hasOwnProperty(key)) size++;
    }
    return size;
  };

  const ping = () => {
    for(const device_ in devices){
      const data_to_send = { head: 'isactive', "TAG":devices[device_].tag};
      const data_in_json = JSON.stringify(data_to_send);
      yyy.send(data_in_json);
    }
  }

  function timeout() {
    setTimeout(function () {
      if (flag_) {
        ping();
      }
      timeout();
    }, 1000);

  }
   connection();
   timeout();





</script>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var arrows = document.getElementsByClassName("fas fa-angle-down rotate");
  var init = true;
  for (var i = 0; i < coll.length; i++) {
      if(init){coll[i].number_ = i}
      console.log(i)
      coll[i].addEventListener("click", function() {
        arrows[this.number_].classList.toggle("down");
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
  }
  init = false;
  for (var j = 0; j < arrows.length; j++) {
    arrows[j].addEventListener("click", function() {
      this.classList.toggle("down");
    });
  }


  const sendReset = (tag) => {
     if(confirm('Are you sure you want to reset this Device?')) {
       try {
         const data_to_send = {
           head: 'set', user: '{{session.username}}',
           TAG: tag, type: "restart"
         };
         const data_in_json = JSON.stringify(data_to_send);
         yyy.send(data_in_json);
         console.log("restarting: ", tag)
       } catch {
         yyy = new WebSocket('wss://hal9000-color-picker-websockserver.glitch.me');
         console.log("reconnecting")
       }
     }
  }

  const sendReboot = (tag) => {
    if(confirm('Are you sure you want to reboot this Device?')) {
      try {
        const data_to_send = {
          head: 'set', user: '{{session.username}}',
          TAG: tag, type: "reboot"
        };
        const data_in_json = JSON.stringify(data_to_send);
        yyy.send(data_in_json);
        console.log("rebooting: ", tag)
      } catch {
        yyy = new WebSocket('wss://hal9000-color-picker-websockserver.glitch.me');
        console.log("reconnecting")
      }
    }
  }

</script>
<style>
  .collapsible {
  }

  .active, .collapsible:hover {
    color: rgba(0, 255,0,1);
  }

  .btn_thr {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .rotate {
      -moz-transition: all .5s linear;
      -webkit-transition: all .5s linear;
      transition: all .5s linear;
  }

  .rotate.down {
      -moz-transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      transform:rotate(180deg);
  }

</style>


{% endblock %}