<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HAL 9000</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='hal_9000.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>

      <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
  {%include 'includes/_navbar.html' %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>